.form {
    height: fit-content;
    width: 375px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 100px 65px 100px;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(6px) saturate(166%);
    -webkit-backdrop-filter: blur(6px) saturate(166%);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    font-family: 'Cairo', sans-serif;
    color: black;

    transition: all 0.4s ease;
}

.form:hover {
    box-shadow: 4px 4px 15px -9px black;
}

.h1 {
    width: fit-content;
    margin: auto;
}

.input {
    display: inline-block;
    width: 100%;
    outline: none;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 5px;
}

.button {
    justify-self: center;
    border-radius: 5px;
    background-color: rgb(64, 64, 255);
    padding: 5px;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    width: 80%;
    cursor: pointer;
}

.button:hover {
    box-shadow: 4px 4px 15px -9px black;
}

.button:active {
    transform: scale(95%);
}
