.form {
    height: fit-content;
    width: 375px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 120px repeat(6, max-content) 100px;
    grid-template-columns: 290px;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(6px) saturate(166%);
    -webkit-backdrop-filter: blur(6px) saturate(166%);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    font-family: 'Cairo', sans-serif;
    color: black;

    margin-bottom: 15px;

    transition: all 0.4s ease;
}

.form:hover {
    box-shadow: 4px 4px 15px -9px black;
}

h1 {
    justify-self: center;
    font-family: 'Cairo', sans-serif;
}

p {
    justify-self: center;
}

.input {
    display: inline-block;
    width: 100%;
    outline: none;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: 1.75px solid #ccc;
    border-radius: 3px;
    border-radius: 5px;
}

.input-invalid {
    background-color: rgb(255, 226, 226);
    border-color: rgb(254, 85, 85);
}

.input-valid {
    background-color: rgb(205, 254, 197);
    border-color: rgb(9, 217, 9);
}

.button {
    justify-self: center;
    border-radius: 5px;
    background-color: rgb(64, 64, 255);
    padding: 5px;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    width: 80%;
    cursor: pointer;
}

.button:hover {
    box-shadow: 4px 4px 15px -9px black;
}

.button:active {
    transform: scale(95%);
}

.p2 {
    display: inline-block;
    color: white;
    font-family: 'Cairo', sans-serif;
    margin-right: 5px;
}

.label {
    position: relative;
}

/* .button2 {
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: underline;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    transition: all 0.1s ease;
} */
